@page "/expensetracker"
@using CursoBlazor.UI.Components
<h3>ExpenseTracker</h3>

<TabControl>

    <TabTitle>
        @if (@context.Text == "Expense")
        {
            <span class="oi oi-chevron-bottom" style="margin-right: 10px"></span> @context.Text
        } else
        {
            <span class="oi oi-chevron-top" style="margin-right: 10px"></span> @context.Text
        }
        
    </TabTitle>

    <ChildContent>
        <TabPage Text="Expense">
            <ExpenseDetails ExpenseType="@Models.ExpenseType.Expense"/>
        </TabPage>
        <TabPage Text="Income">
            <ExpenseDetails ExpenseType="@Models.ExpenseType.Income"/>
        </TabPage>
    </ChildContent>
    
</TabControl>

@code {

}
